*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    --roxo: #5300C8;
    --branco: #ffffff;
    --azul-escuro: #03318C;
    --roxo-imagem: #5D04D9;
    --preto: #000000;
}

html, body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    /*max-width: 43rem;*/
  }

header{
    display: flex;
    align-items: center;
    padding: 2rem;
    font-family: "Press Start 2P", serif;
    background-color: var(--roxo);
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    font-size: 1.4rem;
    /*box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.2); /* Sombra cinza */
}

#adicionar-produto{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem;
    gap: 4rem;
    font-size: 2.4rem;
    font-family: "Press Start 2P", serif;
    background-color: var(--branco);
}

#adicionar-produto h2{
    text-align: center;
}

.formulario-adicionar{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.campo__escrita{
    font-size: 2rem;
    height: 5.8rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    border: var(--azul-escuro) 0.3rem solid;
    border-radius: 3rem;
    line-height: 4rem;
    padding: 2.5rem 2rem;
    width: 35rem;
}
.botoes{
    display: flex;
    justify-content: space-between;
}

.formulario-botao{
    width: 16rem;
    height: 5.5rem;
    border: var(--azul-escuro) 0.3rem solid;
    border-radius: 1.5rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 2rem;
    color: var(--azul-escuro);
    background-color: var(--branco);
}

.formulario-botao:hover{
    background-color: var(--azul-escuro);
    color: var(--branco);
}

#produtos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#produtos h2{
    font-family: "Press Start 2P", serif;
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.imagem-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 1rem; /* Espaçamento entre os itens */
    padding: 2rem;
    width: 100%;
    max-width: 56rem;
    overflow-x: auto; /* Permite rolar horizontalmente em telas menores */
    overflow-y: auto;
    max-height: 87rem;
}

.imagem{
    background-color: var(--roxo-imagem);
    padding: 1rem;
    border: var(--preto) 0.3rem solid;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: var(--branco);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    line-height: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.9);
    margin-bottom: 2rem;
}

.imagem h3{
    font-weight: 300;
    padding: 1rem 0;
}

.container-valor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: "IBM Plex Mono", monospace;
    background-color: var(--roxo);
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    font-size: 1.6rem;
    gap: 0.5rem;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Press Start 2P", serif;
}

@media (min-width: 768px) {
    .imagem-container {
      justify-content: center;
      max-width: 67em;
    }
  }

@media (min-width: 1440px) {
    main{
        display: flex;
        flex-direction: row-reverse;
    }

    #adicionar-produto{
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 0;
    }

    #produtos{
        margin: 8rem 0 ;
    }
}